<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<% if (noUser) { %>
<p class="usernameTaken">
  We have no user by that name in our system. Please go to <a href="/signup">our signup page</a> to create an account.
</p>
<% } %>
<p>
  <a href="/signup">Create an Account &rarr;</a>
<p>
